$text-primary:   alpha(#000, .65);
$text-secondary: alpha(#000, .4);
$text-disabled:  alpha(#000, .15);

$text-primary-invert:   #fff;
$text-secondary-invert: alpha(#fff, .65);
$text-disabled-invert:  alpha(#fff, .3);


$accent: #83a7c7;
$accent-text: alpha(saturate(darken($accent, 32%), 60%), .85);

$info: #ff924c;
$info-text: alpha(saturate(darken($info, 17%), 100%), .9);

$warning: #e86b6b;
$warning-text: alpha(saturate(darken($warning, 20%), 100%), .7);


// Selectors with modified default colors:
// .slider
// .window-caption
